<mat-toolbar class="toolbar-flex">
    
    <div></div>
    <button
        mat-button color ="primary"
        routerLink="/stores"
        >STORES</button>
    <button *ngIf="!logged; else notLogged"
        mat-button color ="primary"
        routerLink="/login"
        >LOGIN</button>
    <ng-template #notLogged>
    <button
        mat-button color ="primary"
        routerLink="/profile"
        >Hi, {{name}}</button>
    </ng-template>
    
</mat-toolbar>

<router-outlet></router-outlet>
